<div class="home">
  <main class="content">
    <!-- <app-particles/> -->
    <section id="banner" class="home-section">
      <div>
        <h1 class="intro">Aprende a tu ritmo</h1>
        <h2 class="intro2">
          De cero a experto en Python: crea tus propios proyectos desde el
          primer día.
        </h2>

        <div class="contenedorBotones">
          <button>
            <span class="text">Comenzar ahora</span>
          </button>
          <button>
            <span class="text">Saber más</span>
          </button>
        </div>
      </div>
      <img
        src="images/programar.png"
        alt="programar en python"
        class="imgBanner"
      />
    </section>

    <section class="beneficios home-section">
      <h1>Beneficios de aprender Python</h1>
      <div class="beneficios-cards">
        <div class="beneficios-card">
          <img src="images/maleta.png" alt="Icono salidas laborales" />
          <h2>Salidas laborales</h2>
          <p>
            Python es uno de los lenguajes más demandados en campos como
            desarrollo web, análisis de datos, inteligencia artificial y
            automatización.
          </p>
        </div>
        <div class="beneficios-card">
          <img src="images/dinero.png" alt="Icono salarios competitivos" />
          <h2>Salarios competitivos</h2>
          <p>
            Los profesionales que dominan Python suelen recibir sueldos
            atractivos debido a su versatilidad y valor en el mercado
            tecnológico.
          </p>
        </div>
        <div class="beneficios-card">
          <img src="images/curva.png" alt="Icono curva de aprendizaje" />
          <h2>Rápida curva de aprendizaje</h2>
          <p>
            Su sintaxis simple y legible lo convierte en un lenguaje ideal para
            principiantes y facilita el desarrollo rápido de proyectos.
          </p>
        </div>
      </div>
    </section>

    <section id="porque-python" class="home-section">
      <div class="porque-python-columna">
        <h1>¿Porqué aprender Python?</h1>

        <p>
          <b>Simplicidad y legibilidad:</b><br />
          Python tiene una sintaxis clara que facilita su aprendizaje.
        </p>
        <p>
          <b>Versatilidad:</b><br />
          Aplicable en múltiples industrias y proyectos.
        </p>
        <p>
          <b>Gran comunidad:</b><br />
          Amplio soporte y recursos disponibles.
        </p>
        <p>
          <b>Alta demanda laboral:</b><br />
          Uno de los lenguajes más solicitados por empresas.
        </p>
        <p>
          <b>Ecosistema robusto:</b><br />
          Miles de bibliotecas y frameworks disponibles.
        </p>
      </div>
      <img
        src="svgs/miau.svg"
        alt="python foto"
        class="imgPython porque-python-columna"
      />
    </section>

    <section id="areas-trabajo" class="home-section">
      <h1>Áreas de trabajo</h1>
      <div class="scroll-contenedor">
        <div class="auto-scroll" id="auto-scroll">
          <!-- Tarjetas originales -->
          <div id="work-card1" class="work-areas-card">
            <p>Desarrollo web</p>
          </div>
          <div id="work-card2" class="work-areas-card">
            <p>Ciencia de datos</p>
          </div>
          <div id="work-card3" class="work-areas-card">
            <p>Machine learning</p>
          </div>
          <div id="work-card4" class="work-areas-card">
            <p>Automatización</p>
          </div>
          <div id="work-card5" class="work-areas-card">
            <p>Ciberseguridad</p>
          </div>
          <div id="work-card6" class="work-areas-card">
            <p>Inteligencia artificial</p>
          </div>

          <!-- efecto infinito -->
          <div id="work-card1" class="work-areas-card">
            <p>Desarrollo web</p>
          </div>
          <div id="work-card2" class="work-areas-card">
            <p>Ciencia de datos</p>
          </div>
          <div id="work-card3" class="work-areas-card">
            <p>Machine learning</p>
          </div>
          <div id="work-card4" class="work-areas-card">
            <p>Automatización</p>
          </div>
          <div id="work-card5" class="work-areas-card">
            <p>Ciberseguridad</p>
          </div>
          <div id="work-card6" class="work-areas-card">
            <p>Inteligencia artificial</p>
          </div>
        </div>
      </div>
    </section>
  </main>
</div>
