<header class="main-header">
  <div class="logo">
    <img src="images/logo.png" alt="Logo Aprende Python" class="logo-navbar">
    <h1>Aprende Python</h1>
  </div>
  <nav class="main-nav">
    <ul>
      <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Inicio</a></li>
      <li><a routerLink="/lista-cursos" routerLinkActive="active">Cursos</a></li>
      <li><a routerLink="/lista-ejercicios" routerLinkActive="active">Ejercicios</a></li>
      <li><a routerLink="/lista-videos" routerLinkActive="active">Videos</a></li>
      <li><a routerLink="/terminal" routerLinkActive="active">Terminal</a></li>

         <li><a routerLink="/buscador" routerLinkActive="active">Buscador</a></li>
      <li><a routerLink="/progreso-aprendizaje" routerLinkActive="active">Mi aprendizaje</a></li>

    </ul>
  </nav>
</header>
